.checkout-card {
  position: relative;
  padding: 8px 10px 8px 12px;
  margin-bottom: 20px;
  background-color: $color-gray-background;
  border-radius: 4px;

  .checkout-header {
    margin-bottom: 8px;
  }

  .checkout-title {
    @include text-style(13, $color-gray-primary);
    padding-right: 36px - 10px;
    font-weight: 400;
  }

  .delete-button {
    @include inline-flexbox;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $color-gray-secondary;
  }

  .checkout-select {
    position: relative;
    display: inline-block;

    select {
      @include text-style(14, $color-gray-primary);
      width: 72px;
      height: 24px;
      padding: 0 8px;
      line-height: 1;
      background-color: $color-white;
      border: 1px solid $color-gray-border;
      border-radius: 3px;
      appearance: none;
    }

    i {
      @include position-center-y;
      right: 2px;
      font-size: 20px;
      color: $color-gray-tertiary;
      pointer-events: none;
    }
  }

  .checkout-footer {
    @include flexbox(between);
  }

  @include responsive(D) {
    .checkout-title {
      @include text-style(16);
    }
  }
}
