.product-card {
  &-image {
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 4px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-brand {
    @include text-style(12, $color-gray-secondary);
    display: block;
    margin-bottom: 4px;
  }

  &-title {
    @include text-style(13, $color-gray-heading);
    font-weight: 400;
    line-height: 16px;
  }

  &-price {
    @include flexbox(start);
    margin-bottom: 4px;

    .percent,
    .price {
      @include text-style(18);
      font-weight: 700;
    }

    .percent {
      margin-right: 8px;
      color: $color-blue-primary;
    }

    .price {
      color: $color-gray-heading;
    }
  }

  &-detail {
    @include flexbox(start);
    margin-bottom: 8px;

    .rating,
    .review {
      @include flexbox(start);

      dt {
        margin-right: 2px;
      }
    }

    .rating {
      margin-right: 8px;

      dt {
        @include flexbox;
        width: 12px;
        height: 12px;
        margin-right: 2px;
      }

      i {
        font-weight: 12px;
        color: $color-blue-primary;
      }

      dd {
        @include text-style(12, $color-gray-primary);
        font-weight: 700;
      }
    }

    .review {
      @include text-style(12, $color-gray-secondary);
      font-weight: 700;
    }
  }
}
