%profile-base {
  border-radius: 50%;
  display: block;
  overflow: hidden;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.profile-24 {
  @extend %profile-base;
  height: 24px;
  width: 24px;
}

.profile-32 {
  @extend %profile-base;
  height: 32px;
  width: 32px;
}
