.product-info {
  padding: 20px 0;

  &-header {
    margin-bottom: 16px;

    .info-brand {
      @include text-style(13, $color-blue-primary);
      font-weight: 700;

      &:active {
        opacity: 0.4;
      }
    }

    .info-title {
      @include text-style(18, $color-gray-heading);
      margin-bottom: 4px;
      font-weight: 400;
    }

    .info-review {
      @include flexbox(start);

      .star-rating-13 {
        margin-right: 8px;
      }

      p {
        @include text-style(13, $color-blue-primary);
        font-weight: 700;
      }
    }
  }

  &-price {
    margin-bottom: 16px;

    .info-original-price,
    .info-sale-price {
      @include flexbox(start);
    }

    .discount-rate {
      @include inline-flexbox(start);
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: $color-blue-primary;

      .rate {
        font-family: $font-price;
      }
    }

    .info-sale-price {
      margin-bottom: 12px;
    }

    .price-20 {
      margin-right: 8px;
    }

    .info-point {
      @include text-style(13, $color-gray-secondary);

      strong {
        color: $color-blue-primary;
      }
    }
  }

  &-delivery {
    padding-top: 11px;
    border-top: 1px solid $color-gray-border;

    span {
      display: block;
      margin-bottom: 2px;
    }
  }
}
