.review-card {
  padding: 20px 0;

  &-header {
    @include flexbox(start);
    margin-bottom: 20px;

    .profile-24,
    .username {
      &:active {
        opacity: 0.4;
      }
    }

    .profile-24 {
      margin-right: 8px;
    }

    .username {
      @include text-style(13, $color-gray-primary);

      strong {
        font-weight: 400;
      }
    }

    .detail {
      @include flexbox(start);
      @include text-style(12, $color-gray-secondary);

      .star-rating-13 {
        margin-right: 4px;
      }

      time::after {
        margin-left: 3px;
        content: '·';
      }
    }
  }

  &-body {
    margin-bottom: 20px;

    .review-image {
      width: 64px;
      height: 64px;
      margin-bottom: 8px;
      overflow: hidden;
      border-radius: 4px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      @include text-style(13, $color-gray-primary);
    }
  }

  &-footer {
    @include flexbox(start);

    button {
      width: 120px;

      i {
        margin-right: 4px;
        margin-left: -4px;
        font-size: 20px;
        color: $color-white;
      }
    }

    p {
      @include text-style(12, $color-gray-primary);
      margin-left: 8px;

      strong {
        font-weight: 400;

        span {
          font-weight: 700;
          color: $color-gray-heading;
        }
      }
    }
  }

  @include responsive(T) {
    padding: 40px 0 40px 32px;

    &-header {
      margin-left: -32px;

      .username {
        @include text-style(14);
      }
    }

    &-body {
      .review-image {
        width: 112px;
        height: 112px;
        margin-bottom: 16px;
      }

      p {
        @include text-style(14);
      }
    }
  }

  @include responsive(D) {
    .profile-24,
    .username {
      &:hover {
        opacity: 0.4;
      }
    }
  }
}
