.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + calc($gutter/2);
  overflow-x: auto;

  @include no-scrollbar;

  &-list {
    @include inline-flexbox(start);
    height: 40px;
    padding: 0 calc($grid-margin - $lnb-link-padding);
    margin-left: -15px;
    white-space: nowrap;
    border-bottom: 1px solid $color-gray-border;
  }

  &-item {
    &:hover {
      a {
        color: $color-blue-primary;
      }
    }

    &.is-active {
      a {
        color: $color-blue-primary;
        border-bottom-color: $color-blue-primary;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $color-gray-primary);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }
}
