$color-black: #000;
$color-gray-heading: #191a20;
$color-gray-primary: #3f4150;
$color-gray-secondary: #8c8d96;
$color-gray-tertiary: #b2b3b9;
$color-gray-border: #e0e2e7;
$color-gray-background: #f7f8fa;
$color-white: #fff;
$color-blue-light: #ecf6fe;
$color-blue-primary: #3da5f5;
$color-blue-dark: #3186c4;
$color-red: #f86d7d;
$color-green: #22c58b;
